*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #bdbbbb;
    background-color: #f0f8ff;
    font-family: "Manrope", sans-serif;
    color: black;
    text-align: center;
    display:flex;
    flex-direction: column;
}

button{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #26589F;
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
}

.scroll{
    background-color: transparent;
    position: absolute;
    bottom: 10vh;
}
.retry img{
    font-size: 2rem;
}

.scroll img{
    width: 25px;
}

section{
    margin: 2vh 0;
    height: 90vh;
    position: relative;
}/*code to make each section take up a screen*/

.titleScreen{
    position: relative;
    margin: 0;
    place-content: center;
    align-content: center;
}
.titleScreen video{
    z-index: -1;
    opacity: 0.75;
    position: absolute;
    width: 100vw;
    height: 90vh;
    object-fit: fill;
    left: 0;
    top: 0;

}
.titleScreen p{
    z-index: 1;
    font-size: 2rem;
    display: flex;
    place-content: center;
    align-content: center;
}
.controls{
    width: 125px;
    height: 125px;
    padding: 1rem;
    margin: 0.25rem;
    outline: solid black 1px;
    position: fixed;
    right: 0;
}
.controls p{
    padding: 2rem 0;
}

.disclaimer{
    margin: 3rem auto;
    scroll-margin: 3rem;
}
.disclaimer h2{
    font-size: 2.5rem;
    font-weight: bold;
    color: #c55d12;
    margin: 0rem auto;
}
.disclaimer p, .intro p{
    margin: 1rem auto;
    padding: 1rem;
    font-size: 1.5rem;
    max-width: 70ch;
    line-height: 2;
}

.intro{
    scroll-margin: calc(100vh/25);
}
.intro h3{
    font-size: 2rem;
}

.Question_1, .Question_2{
    margin: 3rem auto;
    scroll-margin: 3rem;
}
.Question_1_images, .Question_2_images{
    text-align: center;
    max-width: min-content;
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto auto ;
    place-content: center;
    transition-property: filter;
    transition: 300ms;
}
.Question_1_images p, .Question_2_images p {
    color: #f0f8ff;
    font-weight: bolder;
    -webkit-text-stroke: 0.03125rem black ;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1.33rem;
    position: absolute;
    bottom: 5%;
    left: 25%;
    right: 25%;
}
.Question_1_images button, .Question_2_images button{
    position: relative;
}
.Question_1_images img, .Question_2_images img{
    max-width: calc((80vw)/2);
    max-height: calc((80vh)/2);
    border-radius: 1rem;
    margin: 0.75rem;
    transition-property: outline;
    transition: 150ms;
}
.Question_1_images button > img:hover,.Question_1_images button > img:focus-visible, 
.Question_2_images button > img:hover,.Question_2_images button > img:focus{
    outline: none;
    box-shadow:  0 0 0 0.2rem #c55d12;
}

.Result{
    margin: 3rem auto;
    scroll-margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Result .video{
    width: 320px;
    min-height: 60vh;
    border-radius: 1rem;
    margin: 1rem auto;
}

.conclusion{
    scroll-margin: 3rem;
    margin: 3rem auto;
}

.conclusion p{
    padding: 2rem;
    font-size: 1.5rem;
    max-width: 70ch;
    line-height: 2;
}

.endCard{
    background-color: black;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 4rem 0 0 0;
    padding: 2rem 0;
    align-content: center;
    

}
.endCard img{
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 100%;
}
.endCard img:not(.endCard > .scrollRetry){
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    .controls{
        display: none
    }
    .disclaimer p{
        font-size: 1.2rem;
    }
    .conclusion p{
        font-size: 1.05rem;
    }
    .intro p{
        font-size: 1.2rem;
    }
    .Question_1_images img, .Question_2_images img{
        max-width: calc((80vw)/2);
    }
    .Question_1_images p, .Question_2_images p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1025px){
    .controls{
        display: none
    }
}