*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #bdbbbb;
    font-family: "Manrope", sans-serif;
    color: black;
    text-align: center;
    display:flex;
    flex-direction: column;
}
button{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #26589F;
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
}

section{
    /*height: 100vh;*/
}/*code to make each section take up a screen*/

.disclaimer{
    margin: 1rem;
}
.disclaimer h2{
    font-size: 2.5rem;
    font-weight: bold;
    color: #c55d12;
}
.disclaimer p{
    margin: 1rem auto;
    padding: 1rem;
    font-size: 1.5rem;
    max-width: 70ch;
    line-height: 1.5;
    
}

.intro p {
    font-size: 1.5rem;
    margin: 1rem;
    padding: 0.75rem;
    line-height: 1.5;
}

.Question_1, .Question_2{
    margin: 1rem;
}
.Question_1_images, .Question_2_images{
    text-align: center;
    max-width: min-content;
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto auto ;
    place-content: center;
    transition-property: filter;
    transition: 300ms;
}
.Question_1_images p, .Question_2_images p {
    color: #f0f8ff;
    font-weight: bolder;
    -webkit-text-stroke: 0.0625rem black ;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1.33rem;
    position: absolute;
    bottom: 5%;
    left: 25%;
    right: 25%;
}
.Question_1_images button, .Question_2_images button{
    position: relative;
}
.Question_1_images img, .Question_2_images img{
    border-radius: 1rem;
    margin: 0.75rem;
    transition-property: outline;
    transition: 150ms;
}
.Question_1_images button > img:hover,.Question_1_images button > img:focus-within, 
.Question_2_images button > img:hover,.Question_2_images button > img:focus-within{
    outline: solid #76afe7 0.2rem;
}

.Result{
    margin: 1rem;
}

.conclusion p{
    margin: 1rem auto;
    padding: 1rem;
    font-size: 1.5rem;
    max-width: 70ch;
    line-height: 1.5;
}

footer{
    background-color: black;
    width: 100vw;
}